// Home Main Styles

// Home Section 1 Styles

.section1 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 200px;
}

.section1 li {
    flex-direction: row;
    padding-top: 20px;
    width: 45%;
    position: relative;
}

.section1 li div {
    background-color: $tertiary;
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: 45px;
    left: -60px;
}

i.fa-map-marker-alt,
i.fa-users,
i.fa-file,
i.fa-phone {
    color: $black;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 11px;
    left: 13.4px;
}

i.fa-users {
    left: 9.4px;
}

i.fa-file {
    left: 14px;
}

i.fa-phone {
    top: 12px;
    left: 11.8px;
}

// Home Section 2 Styles

.section2 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: relative;
}

.section2 li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}

.section2 .topImg {
    box-shadow: 20px 20px $tertiary;
    background-image: url("../the-restaurant-mall-assets/left-image.jpg");
    height: 400px;
    width: 100%; 
    translate: 0 -40px;
}

// bottom img
.bottomImg {
    box-shadow: -20px 20px $tertiary;
    background-image: url("../the-restaurant-mall-assets/right-image.jpg");
    height: 400px;
    width: 100%;
    translate: 0 40px;
}

.section2 .topContent,
.section2 .bottomContent {
    align-self: flex-end;
    width: 36%;
}

.section2 .topContent {
margin-right: 100px;    
}

.section2 .bottomContent {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;    
    &__para {
        text-align: right;
    }
}

.section2 [type="button"] {
    background-color: $tertiary;
    border: 1px $tertiary solid;
    padding: 8px 5px;
    margin: 30px 0;
}

// Home Section 3 Styles

.section3 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.section3 p {
    width: 83%;
    padding-bottom: 50px;
}

.section3 [type="button"],
.section5 [type="button"] {
    background-color: $black;
    border: 1px $black solid;
    padding: 5px 10px;
    color: $secondary;
}

// Home Section 4 Styles

.section4 {
    height: 50vh;
    background-image: url("../the-restaurant-mall-assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

// Home Section 5 Styles

.section5 ul {
    display: flex;
    justify-content: center;
    padding: 70px 0 100px 0;
}

.section5 .imgBox {
    width: 100%;
    height: 280px;
    position: relative;
    top: 45px;   
}

.section5 img {
    position: relative;
    top: -23px;
    left: 20px;
    box-shadow: -20px 20px $tertiary;
}

.section5 .contentBox {
    margin-left: 100px;
}

.section5 [type="button"] {
    margin-top: 20px;
}

// Home Section 6 Styles

.section6 ul {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.section6 li {
    margin: 15px;
}

.section6 img {
    width: 100%;
}

// Blog Main Styles

.mainBlog section {
    position: relative;
}

.mainBlog .blogImg {
    position: relative;
    top: -550px;
}

.blogSideImgBox {
    width: 100%;
}

// Blog Aside Styles

.mainBlog img  {
    background-image: url("./the-restaurant-mall-assets/blog-side-image.jpg");
    background-size: contain;
    z-index: 50;
    width: 29%;
    padding-top: 10px;

    position: relative;
    top: 100px;
}

.mainBlog aside {
    display: flex;
    flex-wrap: wrap;
    width: 26%;
    margin: 0 0 0 80px;
    position: absolute;
    top: 160px;
    z-index: 0;
}

.divEmptySpace {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
    color: $primary;
}

.mainBlog aside div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    margin-right: 0;
}

// Blog Article Styles

.mainBlog article {
    position: relative;
    top: -550px;
}

.mainBlog ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: justify;
}

.asideP {
    padding-bottom: 50px;
}

aside li {
    list-style: disc;
    list-style-position: inside;
}

aside li:last-child {
    padding-bottom: 30px;
}

// Blog Main Div Img

.blogImg {
    display: flex;
    justify-content: flex-end;
}

.blogImg figure {
    box-shadow: -20px 20px $tertiary;
    background-image: url("../the-restaurant-mall-assets/blog-post-image.jpg");
    background-repeat: no-repeat;
    height: 600px;
    width: 60%;
}

.mainBlog div.wrapper {
    display: flex;
    justify-content: flex-end;
}

article {
    width: 61%;
    box-shadow: -6px 6px $tertiary;
}

.blogContent {
    padding: 40px 0px 100px 0px;
}   

.blogContent p {
    padding-top: 40px;
    width: 100%;
}

.blogComment h3 {
    color: $secondary;
    padding-top: 50px;
}

article.blogComment {
    box-shadow: 0 0 $primary;
}

.blogComment li {
    display: flex;
    justify-content: center;
}

.blogComment .blogCommentImg1 {
    width: 300%;
    translate: 0 -100px; 
}

.blogComment .blogCommentImg2 {
    width: 200%;
    translate: 0 -100px; 
    padding-bottom: 70px;

}

.h5Yellow.h5Top,
.blogComment .blogCommentContentTop p {
    margin-left: 100px;
}

.h5Yellow.h5Bottom,
.blogComment p {
    margin-left: 90px;
}

.blogComment .blogCommentContentTop p {
    padding-bottom: 90px;
    width: 87%;
}

.blogComment p {
    width: 87%;
}

// Blog Form Styles

form {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 100px;
}

legend {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: $primary;
    color: $secondary;
    padding: 10px 0 20px 40px;
    letter-spacing: 2px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
    opacity: 1;
}

input[type="text"],
input[type="email"] {
    border: none;
    border-bottom: $tertiary 2px solid;
    margin-right: 50px;
    width: 42%;
}

textarea,
form input[type="button"] {
    margin-top: 40px;
        width: 91%;
}
textarea {
    border: $tertiary 2px solid;
    padding: 30px;
    font-size: 19px;
}

form input[type="button"] {
    background-color: $tertiary;
    border: $tertiary;
    color: $black;
    padding: 10px 0;
}

// Contact Styles 

// Contact Header Styles

.headerContact h1 {
    position: relative;
    top: 115px;
    left: 35px;
    width: 100%;
}

// Contact Section Styles

.contactSocialIcons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 18%;
    font-size: 25px;
    color: $tertiary;
}

.contactFormBox{
    padding-bottom: 220px;
}

.contactSocialIcons, 
.contactInfo {
    padding: 150px 0 0 100px;
}

.contactInfo {
    padding-top: 30px;
    padding-left: 108px;
    width: 25%;
}

i.fa-facebook-f,
i.fa-instagram,
i.fa-twitter,
i.fa-whatsapp {
    color: $tertiary;
}

a[href^="#infoEmail"] {
    padding-top: 20px;
    font-size: 18px;
}

// Contact Form Styles

.contactFormBox legend {
    background-color: $almostBlack;
    box-shadow: 20px 20px $tertiary;
    padding: 50px 0px 50px 50px;

    position: relative;
    left: -75px;
    bottom: -360px;
}

.contactFormBox input[type="text"],
.contactFormBox input[type="email"] {
    margin-top: 20px;
}

.contactFormBox input[type="text"],
.contactFormBox input[type="email"],
.contactFormBox textarea {
    background-color: $almostBlack;
    margin-bottom: 20px;
}

.contactFormBox textarea {
    padding: 30px 35px;
    font-family: 'Barlow', sans-serif;
}

.contactFormBox form input[type="button"] {
    margin-bottom: 10px;
}

