// Home Media Query Styles

// Home Media Query Styles (1200px)

@media (max-width: 1200px) {
    // Home Nav Hamburger Styles
    nav ul {
        display: none;
    }

    input[type="checkbox"],
    i.fa-hamburger {
        display: block;
    }

    input[type="checkbox"] {
        height: 84px;
        width: 84px;
        position: absolute;
        top: 0px;
        right: 15px;
        opacity: 0;
        width: 80px;
        height: 75px;
        z-index: 100;    
        position: fixed;
    } 

    i.fa-hamburger {
        position: absolute;
        top: 8px;
        right: 30px;
        font-size: 50px;
        color: $tertiary;
        z-index: 50; 
        position: fixed;
    }

    input[type="checkbox"]:hover ~ i.fa-hamburger,
    input[type="checkbox"]:focus ~ i.fa-hamburger {
        color: $black;
    }

    input[type="checkbox"]:active ~ i.fa-hamburger {
        color: $secondary;
    }

    input[type="checkbox"]:checked ~ ul {
        padding-top: 20px;
        display: block;
        background-color: $black;  
    }

    input[type="checkbox"]:checked ~ .headerContact nav ul {
        display: block;
        background-color: $black;  
    }

}

// Home Section 1 Styles Media Query (max-width:950px)
@media (max-width: 950px) {

    img {
        width: 100%;
    }

    h1 {
        top: 60px;
        left: 40px;
        font-size: 40px;
    }

    .section1 h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .section1 p {
        padding-bottom: 20px;
    }

    .mediaWrapper {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .section2 h3 {
        font-size: 25px;
    }

    .section1 ul,
    .section2 ul {
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

    .section2 h3 {
        font-size: 37px;
        line-height: 50px;
        padding-top: 20px;
        text-align: center;
    }

    .section2 .topImg,
    .section2 .bottomImg {
        box-shadow: none;
        width: 170%;
        border: $tertiary 5px solid;
    }

    .section2 img {
        width: 100%;
        box-shadow: none;
        border: $tertiary 10px solid;
        height: 298px;  
    }

    .section2 .topContent,
    .section2 .bottomContent {
        align-self: center;
        margin-right: 0;
        margin-left: 0;
        width: 70%;  
    }

    .section2 .bottomContent {
        align-self: center;
    }

    .section2 li {
        width: 80%;
        align-items: center;
    }

    .section2 h3 {
        margin: 0 auto;
    }

    .section2 .topContent p,
    .section2 .bottomContent p {
        text-align: center;
    }

    .section2 [type="button"] {
        width: 100%;
    }

    // Home Section 3 Styles Media Query (max-width:950px)

    .section3 div {
        padding: 50px 0;
        text-align: center;
    }

    .section3 h3 {
        line-height: 50px;
        padding: 50px 0 20px 0;
    }

    .section3 p {
        padding-bottom: 20px;   
    }

    .section3 [type="button"] {
        width: 50%;
        padding: 10px;
    }


    // Home Section 5 Styles Media Query (max-width:950px)

    .section5 ul {
        flex-direction: column;
        align-items: center;
        padding: 50px 0 60px 0;
        text-align: center;
    }

    .section5 img {
        box-shadow: none;
        width: 100%;
        border: $tertiary 5px solid;
    }

    .section5 .contentBox {
        margin: 0;
    }
    
    .section5 img {
        box-shadow: none;
        border: $tertiary 10px solid;
        left: -10px;
    }

    .section5 h3 {
        font-size: 37px;
        padding-top: 100px;
        line-height: 50px;
        text-align: center;
    }

    .section5 [type="button"] {
        padding: 10px 10px;
        align-self: center;
    }

    .section6 ul {
        flex-direction: column;
        padding: 20px 0;
    }

    .section6 li {
        margin: 20px 0;
    }

    .section6 li {
        border: $tertiary 5px solid;
    }
}

// Home Section 1 Styles Media Query (max-width:480px)

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
        line-height: 50px;
        top: 230px;
        left: 40px;
    }

    .section1 ul {
        padding-top: 0px;
        padding-bottom: 60px;
    }

    .section1 h2 {
        font-size: 25px;
        line-height: 50px;
    }


    // Home Section 2 Styles Media Query (max-width:480px)

    .section2 h3 {
        font-size: 28px;
        line-height: 50px;
        padding-top: 20px;
        text-align: center;
    }

    .section2 .topImg,
    .section2 .bottomImg {
        border: $tertiary 5px solid;
        margin: 50px 0;
    }

    // Home Section 3 Styles Media Query (max-width:480px)

    .section3 div {
        padding: 50px 0;
    }

    .section3 [type="button"] {
        width: 50%;
    }

    // Home Section 5 Styles Media Query (max-width:480px)

    .section5 img {
        top: 0;
        left: -2px;
        border: $tertiary 5px solid;
    }


    .section5 h3 {
        font-size: 25px;
        line-height: 50px;
        text-align: center;
    }

    .section5 ul {
        padding: 50px 0 60px 0;
        text-align: center;
    }

    .section5 [type="button"] {
        padding: 10px 10px;
    }

    // Home Section 6 Styles Media Query (max-width:480px)

    .section6 ul {
        flex-direction: column;
        padding: 20px 0;
    }

    .section6 li {
        margin: 20px 0;
    }

    .section6 li {
        border: $tertiary 5px solid;
    }
}

// Blog Media Query

// Blog Media Query (1090px) 

@media (max-width: 1090px) {

    .mainBlog div.wrapper {
        height: 1200px;
    }

    .mainBlog article {
        height: 1520px;
    }

    .mediaWrapper2 {
        max-width: 380px;
        width: 53%;
        margin: 0 auto;
    }

    .mainBlog .blogImg,
    .mainBlog article {
        position: none;
        top: 600px;
    }

    .mainBlog img {
        width: 50%;
        top: 50px;
        left: 280px;
    }

    .mainBlog aside {
        width: 75%;
        top: 160px;
        left: 80px;
    }

    .mainBlog ul {
        text-align: center;
    }

    .mainBlog aside div{
        height: 450px;
    }

    .mainBlog .blogImg {
        left: -140px;
    }
    
    .blogImg figure {
        box-shadow: none;
        border: $tertiary 8px solid;
    }

    .mainBlog article {
        left: -135px;
        box-shadow: none;
        border: $tertiary 8px solid;
    }

    .mainBlog ul {
        text-align: center;
        left: -75px;
        position: relative;
    }

    .blogContent.wrapper2.mediaWrapper2 h3 {
        position: relative;
        left:   0px;
    }

    .mainBlog h3 {
        font-size: 26px;
        line-height: 50px;
        position: relative;
        left: 70px;
    }

    legend {
        position: relative;
        top: 570px;
        left: -125px;
    }

    .blogComment .blogCommentImg1,
    .blogComment .blogCommentImg2 {
        padding-top: 800px;
    }
}

// Blog Media Query (900px) 

@media (max-width: 900px) {
    
    .mainBlog .blogImg,
    .mainBlog article {
        position: none;
        top: 600px;
    }

    .mainBlog img {
        width: 100%;
        top: 50px;
        left: -10px;
    }

    .mainBlog aside {
        width: 75%;
        top: 160px;
        left: 0px;
    }

    .mainBlog ul {
        text-align: center;
    }

    .mainBlog aside div{
        height: 250px;
    }
}


// // Contact Media Query Styles

// Contact Media Query (1200px) 

@media (max-width: 1200px) {

    .headerContact ul {
        display: block;
    }

    input[type="checkbox"], 
    i.fa-hamburger {
        display: none;
    }

    .contactSocialIcons,
    .contactSocialIcons a {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    i.fa-facebook-f, 
    i.fa-instagram, 
    i.fa-twitter, 
    i.fa-whatsapp {
        padding: 10px;
    }

    .contactInfo {
        padding: 0px 0 0 100px;
    }

    .contactFormBox input[type="text"], 
    .contactFormBox input[type="email"] { 
        width: 100%;
    }
}

// Contact Media Query (950px) 

@media (max-width: 950px) {
    
    input[type="checkbox"], 
    i.fa-hamburger {
        display: block;
    }

    .headerContact h1 {
        font-size: 50px;
    }

    .headerContact ul li {
        display: none;
    }

    .contactSection {
        height: 1000px;
    }

    .contactFormBox legend {
        // left: -160px;
        position: none;
    }

    .contactSection .mediaWrapper6 {
        position: none;
        flex-direction: row;
    }
    
}
