a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1425px;
  width: 100%;
  margin: 0 auto;
}

.wrapper2 {
  max-width: 1425px;
  width: 80%;
  margin: 0 auto;
}

.wrapper3 {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

nav {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

button {
  font-size: 22.4;
  line-height: 41.6px;
}

[type="button"] {
  text-transform: uppercase;
}

.section2,
.section6,
main,
.mainBlog aside {
  background-color: #171B0E;
}

section,
.headerBlog section,
.headerContact section {
  background-color: #2B331B;
}

a {
  color: #FFFFFF;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
nav,
button {
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3 {
  line-height: 99.8px;
  text-transform: uppercase;
}

h1 {
  font-weight: 600;
  font-size: 69px;
  width: 30%;
}

h1 span {
  background-color: #FFFFFF;
  color: #0F0F0F;
  padding: 15px 5px 0 5px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 35px;
}

.section5 h3 {
  display: inline-block;
}

.section3 h3,
.section5 h3,
.mainBlog h3,
.mainBlog h4 {
  color: #FFD300;
  text-transform: uppercase;
}

h4 {
  font-size: 21.5px;
  line-height: 58px;
  letter-spacing: 0.8px;
}

.blogComment .h5Yellow {
  color: #FFD300;
  margin-left: 50px;
  font-size: 20px;
}

.mainBlog h5 {
  color: #FFFFFF;
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
}

header,
.headerBlog,
.headerContact {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

header {
  background-image: url("../the-restaurant-mall-assets/home-header.jpg");
  height: 85vh;
}

nav {
  position: relative;
}

nav ul {
  position: absolute;
  left: 100px;
}

h1 {
  position: relative;
  top: 130px;
  left: 100px;
}

nav li {
  display: inline-block;
  padding-top: 50px;
  padding-left: 30px;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
}

header .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

header img {
  position: absolute;
  right: 0;
  bottom: -65vh;
  width: 52%;
}

.headerBlog {
  background-image: url("../the-restaurant-mall-assets/blog-header.jpg");
  height: 70vh;
}

.headerBlog ul {
  position: absolute;
  left: 50px;
}

.headerBlog h1 {
  position: absolute;
  top: 220px;
}

.headerContact {
  background-image: url("../the-restaurant-mall-assets/contact-header.jpg");
  height: 70vh;
}

input[type="checkbox"],
i.fa-hamburger {
  display: none;
}

.section1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 150px;
  padding-bottom: 200px;
}

.section1 li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
  width: 45%;
  position: relative;
}

.section1 li div {
  background-color: #FFD300;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: -60px;
}

i.fa-map-marker-alt,
i.fa-users,
i.fa-file,
i.fa-phone {
  color: #0F0F0F;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 11px;
  left: 13.4px;
}

i.fa-users {
  left: 9.4px;
}

i.fa-file {
  left: 14px;
}

i.fa-phone {
  top: 12px;
  left: 11.8px;
}

.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.section2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
}

.section2 .topImg {
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  background-image: url("../the-restaurant-mall-assets/left-image.jpg");
  height: 400px;
  width: 100%;
  translate: 0 -40px;
}

.bottomImg {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  background-image: url("../the-restaurant-mall-assets/right-image.jpg");
  height: 400px;
  width: 100%;
  translate: 0 40px;
}

.section2 .topContent,
.section2 .bottomContent {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 36%;
}

.section2 .topContent {
  margin-right: 100px;
}

.section2 .bottomContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 100px;
}

.section2 .bottomContent__para {
  text-align: right;
}

.section2 [type="button"] {
  background-color: #FFD300;
  border: 1px #FFD300 solid;
  padding: 8px 5px;
  margin: 30px 0;
}

.section3 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.section3 p {
  width: 83%;
  padding-bottom: 50px;
}

.section3 [type="button"],
.section5 [type="button"] {
  background-color: #0F0F0F;
  border: 1px #0F0F0F solid;
  padding: 5px 10px;
  color: #FFFFFF;
}

.section4 {
  height: 50vh;
  background-image: url("../the-restaurant-mall-assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.section5 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px 0 100px 0;
}

.section5 .imgBox {
  width: 100%;
  height: 280px;
  position: relative;
  top: 45px;
}

.section5 img {
  position: relative;
  top: -23px;
  left: 20px;
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
}

.section5 .contentBox {
  margin-left: 100px;
}

.section5 [type="button"] {
  margin-top: 20px;
}

.section6 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0px;
}

.section6 li {
  margin: 15px;
}

.section6 img {
  width: 100%;
}

.mainBlog section {
  position: relative;
}

.mainBlog .blogImg {
  position: relative;
  top: -550px;
}

.blogSideImgBox {
  width: 100%;
}

.mainBlog img {
  background-image: url("./the-restaurant-mall-assets/blog-side-image.jpg");
  background-size: contain;
  z-index: 50;
  width: 29%;
  padding-top: 10px;
  position: relative;
  top: 100px;
}

.mainBlog aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 26%;
  margin: 0 0 0 80px;
  position: absolute;
  top: 160px;
  z-index: 0;
}

.divEmptySpace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 350px;
  margin-bottom: 10px;
  color: #2B331B;
}

.mainBlog aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-right: 0;
}

.mainBlog article {
  position: relative;
  top: -550px;
}

.mainBlog ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: justify;
      -ms-flex-align: justify;
          align-items: justify;
}

.asideP {
  padding-bottom: 50px;
}

aside li {
  list-style: disc;
  list-style-position: inside;
}

aside li:last-child {
  padding-bottom: 30px;
}

.blogImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blogImg figure {
  -webkit-box-shadow: -20px 20px #FFD300;
          box-shadow: -20px 20px #FFD300;
  background-image: url("../the-restaurant-mall-assets/blog-post-image.jpg");
  background-repeat: no-repeat;
  height: 600px;
  width: 60%;
}

.mainBlog div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

article {
  width: 61%;
  -webkit-box-shadow: -6px 6px #FFD300;
          box-shadow: -6px 6px #FFD300;
}

.blogContent {
  padding: 40px 0px 100px 0px;
}

.blogContent p {
  padding-top: 40px;
  width: 100%;
}

.blogComment h3 {
  color: #FFFFFF;
  padding-top: 50px;
}

article.blogComment {
  -webkit-box-shadow: 0 0 #2B331B;
          box-shadow: 0 0 #2B331B;
}

.blogComment li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogComment .blogCommentImg1 {
  width: 300%;
  translate: 0 -100px;
}

.blogComment .blogCommentImg2 {
  width: 200%;
  translate: 0 -100px;
  padding-bottom: 70px;
}

.h5Yellow.h5Top,
.blogComment .blogCommentContentTop p {
  margin-left: 100px;
}

.h5Yellow.h5Bottom,
.blogComment p {
  margin-left: 90px;
}

.blogComment .blogCommentContentTop p {
  padding-bottom: 90px;
  width: 87%;
}

.blogComment p {
  width: 87%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 100px;
}

legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 65%;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #2B331B;
  color: #FFFFFF;
  padding: 10px 0 20px 40px;
  letter-spacing: 2px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  opacity: 1;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: #FFD300 2px solid;
  margin-right: 50px;
  width: 42%;
}

textarea,
form input[type="button"] {
  margin-top: 40px;
  width: 91%;
}

textarea {
  border: #FFD300 2px solid;
  padding: 30px;
  font-size: 19px;
}

form input[type="button"] {
  background-color: #FFD300;
  border: #FFD300;
  color: #0F0F0F;
  padding: 10px 0;
}

.headerContact h1 {
  position: relative;
  top: 115px;
  left: 35px;
  width: 100%;
}

.contactSocialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 18%;
  font-size: 25px;
  color: #FFD300;
}

.contactFormBox {
  padding-bottom: 220px;
}

.contactSocialIcons,
.contactInfo {
  padding: 150px 0 0 100px;
}

.contactInfo {
  padding-top: 30px;
  padding-left: 108px;
  width: 25%;
}

i.fa-facebook-f,
i.fa-instagram,
i.fa-twitter,
i.fa-whatsapp {
  color: #FFD300;
}

a[href^="#infoEmail"] {
  padding-top: 20px;
  font-size: 18px;
}

.contactFormBox legend {
  background-color: #171B0E;
  -webkit-box-shadow: 20px 20px #FFD300;
          box-shadow: 20px 20px #FFD300;
  padding: 50px 0px 50px 50px;
  position: relative;
  left: -75px;
  bottom: -360px;
}

.contactFormBox input[type="text"],
.contactFormBox input[type="email"] {
  margin-top: 20px;
}

.contactFormBox input[type="text"],
.contactFormBox input[type="email"],
.contactFormBox textarea {
  background-color: #171B0E;
  margin-bottom: 20px;
}

.contactFormBox textarea {
  padding: 30px 35px;
  font-family: 'Barlow', sans-serif;
}

.contactFormBox form input[type="button"] {
  margin-bottom: 10px;
}

footer {
  background-color: #0F0F0F;
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1200px) {
  nav ul {
    display: none;
  }
  input[type="checkbox"],
  i.fa-hamburger {
    display: block;
  }
  input[type="checkbox"] {
    height: 84px;
    width: 84px;
    position: absolute;
    top: 6px;
    right: 7px;
    border-radius: -10px -10px 0 0;
    opacity: 0.7;
  }
  i.fa-hamburger {
    position: absolute;
    top: 22px;
    right: 23px;
    font-size: 50px;
    color: #FFD300;
  }
}

@media (max-width: 950px) {
  img {
    width: 100%;
  }
  h1 {
    top: 60px;
    left: 40px;
    font-size: 40px;
  }
  .section1 h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .section1 p {
    padding-bottom: 20px;
  }
  .mediaWrapper {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
  .section2 h3 {
    font-size: 25px;
  }
  .section1 ul,
  .section2 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .section2 h3 {
    font-size: 37px;
    line-height: 50px;
    padding-top: 20px;
    text-align: center;
  }
  .section2 .topImg,
  .section2 .bottomImg {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 170%;
    border: #FFD300 5px solid;
  }
  .section2 img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: #FFD300 10px solid;
    height: 298px;
  }
  .section2 .topContent,
  .section2 .bottomContent {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0;
    margin-left: 0;
    width: 70%;
  }
  .section2 .bottomContent {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section2 li {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section2 h3 {
    margin: 0 auto;
  }
  .section2 .topContent p,
  .section2 .bottomContent p {
    text-align: center;
  }
  .section2 [type="button"] {
    width: 100%;
  }
  .section3 div {
    padding: 50px 0;
    text-align: center;
  }
  .section3 h3 {
    line-height: 50px;
    padding: 50px 0 20px 0;
  }
  .section3 p {
    padding-bottom: 20px;
  }
  .section3 [type="button"] {
    width: 50%;
    padding: 10px;
  }
  .section5 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0 60px 0;
    text-align: center;
  }
  .section5 img {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    border: #FFD300 5px solid;
  }
  .section5 .contentBox {
    margin: 0;
  }
  .section5 img {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: #FFD300 10px solid;
    left: -10px;
  }
  .section5 h3 {
    font-size: 37px;
    padding-top: 100px;
    line-height: 50px;
    text-align: center;
  }
  .section5 [type="button"] {
    padding: 10px 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section6 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .section6 li {
    margin: 20px 0;
  }
  .section6 li {
    border: #FFD300 5px solid;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    line-height: 50px;
    top: 230px;
    left: 40px;
  }
  .section1 ul {
    padding-top: 0px;
    padding-bottom: 60px;
  }
  .section1 h2 {
    font-size: 25px;
    line-height: 50px;
  }
  .section2 h3 {
    font-size: 28px;
    line-height: 50px;
    padding-top: 20px;
    text-align: center;
  }
  .section2 .topImg,
  .section2 .bottomImg {
    border: #FFD300 5px solid;
    margin: 50px 0;
  }
  .section3 div {
    padding: 50px 0;
  }
  .section3 [type="button"] {
    width: 50%;
  }
  .section5 img {
    top: 0;
    left: -2px;
    border: #FFD300 5px solid;
  }
  .section5 h3 {
    font-size: 25px;
    line-height: 50px;
    text-align: center;
  }
  .section5 ul {
    padding: 50px 0 60px 0;
    text-align: center;
  }
  .section5 [type="button"] {
    padding: 10px 10px;
  }
  .section6 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .section6 li {
    margin: 20px 0;
  }
  .section6 li {
    border: #FFD300 5px solid;
  }
}

@media (max-width: 1920px) {
  .divEmptySpace {
    height: 480px;
  }
}
